<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>
  <body class="container">
    <h1>New Message</h1>
    <form action="/new" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
      <label for="message">Message</label>
      <textarea name="message" id="message"></textarea>
      <button>Submit</button>
    </form>
  </body>
</html>
